.game {
  position: absolute;
  background: #ffffff;
  text-align: center;
  line-height: $cellSize;
  width: $bgwidth;
  height: $bgheight;
  .cell {
      width: $cellSize;
      height: $cellSize;
      background: white;
      box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0;
      cursor: pointer;
      transition: all .3s ease-in;
      position: absolute;

    img {
      width: $cellSize;
      height: $cellSize;
    }
  }

  .finished-puzzle {
    margin: 10px auto;
    width: 770px;
    height: 770px;
  }
}
.empty {
  opacity: 0;
}

