.leaderboard {
  margin: 20px auto;
  width: 780px;
  display: inline-block;
  vertical-align: top;

  .user {
    color: #ffffff;
    margin: 15px;
    text-align: left;
  }

  .left {
    width: 45%;
    float: left;
    clear: left;
  }

  .right {
    width: 45%;
    float: right;
    clear: right;
  }
}