.rewards {
  .content {
    .title {
      font-family: trade-gothic-bold-extended, sans-serif;
      margin: 20px 0;
      font-size: 30pt;
    }

    #limenka {
      margin: 0 30px 0 10px;
      width: 68px;
      height: 180px;
      vertical-align: middle;
    }

    #majica {
      margin: 0 10px 0 30px;
      width: 142px;
      height: 145px;
      vertical-align: middle;
    }

    .title2 {
      font-family: trade-gothic-bold-extended, sans-serif;
      font-size: 20pt;
      margin: 20px 0 10px 0;
    }

    .description {
      font-size: 16pt;
      margin: 0 0 30px 0;
    }
  }
}