$cellSize: 250px;
$rowCount: 3;
$columnCount: 3;

$bgwidth: $rowCount * $cellSize + $cellSize * 0.05 * $rowCount;
$bgheight: $columnCount * $cellSize + $cellSize *0.05 * $columnCount;

$darkgreen: #001c0b;